body {
    background-color: black;
}

html {
    font-size: 10px;
    font-family: SF-Pro, sans-serif;
}

p {
    font-size: 1.6rem;
    font-family: SF-Pro, sans-serif;
    color: white;
    line-height: 1.5;
}

h1 {
    font-family: Genera Grotesk, sans-serif;
    font-weight: lighter;
}

h2 {
    font-family: Roboto, sans-serif;
}

@font-face {
    font-family: Genera Grotesk;
    src: url('../assets/fonts/Genera\ Grotesk\ Heavy.ttf');
}

@font-face {
    font-family: SF-Pro;
    src: url('../assets/fonts/SF-Pro.ttf');
}

.centered-container {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.title {
    margin: 2rem 0;
    color: white;
    font-size: 13rem;
}

.title-description {
    color: white;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 400;
    margin: 0 2rem 2rem 2rem;
}

.sub-heading {
    color: white;
    text-align: center;
    font-size: 5rem;
}

.photo-grid {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}

.figure {
    flex-basis: calc(33.333% - 4rem);
    border: 1px solid #000000;
    padding: 2rem;
    flex-grow: 1;
    margin: 0 2rem 2rem 2rem;
}

.photo {
    width: calc(100% + 4rem);
    margin: -2rem 0 0 -2rem;
}

.image-button {
    position: absolute;
    bottom: 280px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 15px;
}

.image-button img {
    width: 50px;
    transition: transform 0.3s ease;
}

.image-button:hover img {
    transform: scale(1.2);
}

.navigation {
    position: fixed;
    display: flex;
    width: 100%;
    top: 0px;
    left: 0px;
    padding: 25px;
    display: flex;
    justify-content: flex-start;
    background-color: black;
    align-items: center;
}

.navigation button {
    position: relative;
    font-family: Roboto, sans-serif;
    font-size: 1.8rem;
    background-color: transparent;
    border: transparent;
    color: #aaaaaa;
    margin: 0 2.5rem;
    padding: 5px 0;
    cursor: pointer;
    transition: color 0.8s ease;
}

.navigation button:hover {
    color: white;
}

/* add white line under navigation buttons */
.navigation button::after {
    position: absolute;
    content: '';
    display: block;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: width 0.8s ease;
}

/* create growing effect from left to right on hover */
.navigation button:hover::after {
    width: 100%;
}
